[Unit]
Description=Run BRIDGE watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Unit=bridge-watchdog.service

[Install]
WantedBy=timers.target
